---
- name: Setup Test Server for PHP Application
  hosts: test_servers
  become: yes
  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: Install Apache2
      apt:
        name: apache2
        state: present

    - name: Install PHP and extensions
      apt:
        name:
          - php
          - php-cli
          - php-mbstring
          - php-xml
          - php-curl
          - libapache2-mod-php
        state: present

    - name: Enable Apache rewrite module
      apache2_module:
        name: rewrite
        state: present

    - name: Create web directory
      file:
        path: /var/www/php-project
        state: directory
        owner: www-data
        group: www-data
        mode: '0755'

    - name: Configure Apache virtual host
      copy:
        dest: /etc/apache2/sites-available/php-project.conf
        content: |
          <VirtualHost *:80>
              ServerAdmin webmaster@localhost
              DocumentRoot /var/www/php-project
              
              <Directory /var/www/php-project>
                  Options Indexes FollowSymLinks
                  AllowOverride All
                  Require all granted
              </Directory>
              
              ErrorLog ${APACHE_LOG_DIR}/error.log
              CustomLog ${APACHE_LOG_DIR}/access.log combined
          </VirtualHost>

    - name: Enable PHP project site
      command: a2ensite php-project.conf
      notify: Restart Apache

    - name: Disable default site
      command: a2dissite 000-default.conf
      notify: Restart Apache

  handlers:
    - name: Restart Apache
      service:
        name: apache2
        state: restarted